<ion-content class="back">
  <br>
  <img src="/assets/icon/logo.jpeg" class="logo"> 
<br>
<br>

<ion-text color="warning"><h4 class="text">Welcome !</h4></ion-text>

<br>
<ion-grid>
  
  <ion-row center>

<div class="sizeInput">
  <ion-item class="input">
    <ion-label  position = "floating" color="warning">Enter your Email Id</ion-label>
      <ion-input [(ngModel)]="user.email" color="warning" clearInput value="clear me"></ion-input>
  </ion-item>
  
<br>  
  <ion-item class="input">
    <ion-label  position = "floating" color="warning">Enter a 6 digit password</ion-label>
   <ion-input  type="password" [(ngModel)]="user.password" color="warning"></ion-input>
  </ion-item>
  
</div>

<div class="sizeButton">

  <br>
  

<ion-button (click)="login()" shape="round" color="warning" fill="outline">Sign In</ion-button>
<br>
<br>
<ion-button (click)="signUp()" shape="round" color="warning" fill="outline">Sign Up</ion-button>
</div>

</ion-row>
</ion-grid>

</ion-content>
