<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Tab 1
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button (click)="openFirst()" autoHide="false">
        <ion-icon name="menu-sharp"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-list>
    <ion-item-sliding *ngFor="let item of expenses">
      <ion-item button [routerLink]="['/details',item.id]">
      <ion-label>{{item.expense}}</ion-label>
      <ion-text slot="end" color="warning">{{item.dollars}}$</ion-text>
      </ion-item>

        <ion-item-options (click)="remove(item)" color="danger" side="end">Delete</ion-item-options>
        <ion-item-options (click)="remove(item)" color="secondary" side="start">Split</ion-item-options>
      
    </ion-item-sliding>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward" color="warning">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  </ion-fab>

</ion-content>