<ion-header [translucent]="true">
  <ion-toolbar class="toolcolor">
    <ion-title>
      My Expenses
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button (click)="openFirst()" autoHide="false">
        <ion-icon name="menu-sharp"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="back">
 
  
  <ion-item-sliding *ngFor="let item of expenses">
    
    <ion-item-options side="start" (click)="remove(item)">
      <ion-item-option color="danger" expandable>
        Delete
      </ion-item-option>
    </ion-item-options>

    <ion-item class="inputcolor">
      <ion-label button [routerLink]="['/details',item.id]">{{item.expense}}</ion-label>
      <ion-text slot="end" color="danger">{{item.dollars}}$</ion-text>
    </ion-item>

    <ion-item-options side="end" (click)="presentAlertPrompt()">
      <ion-item-option color="warning" expandable>
        Split
      </ion-item-option>
    </ion-item-options>
  
  </ion-item-sliding>

  <!-- <p *ngFor="let item of split" color="warning">Name:{{item.name1}}
    <br>Dollars:{{item.name2}}
    <br>Date:{{item.name3}}</p> -->
  
  <!-- <p *ngIf="this.data" color="warning">Name:{{this.data.name1}}
    <br>Dollars:{{this.data.name2}}
    <br>Date:{{this.data.name3}}</p>
   -->

 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward" color="warning">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  </ion-fab>

</ion-content>