.back{
    
    --background: #6b0f1a;
    --background: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
}


.logo{
    padding-left: 80px ;
    
}

// .input{
//     --border-radius: 30px;
//     --box-shadow: 10px;
//     --border-color: var(--ion-color-medium-shade);
//   --border-radius: 3px;
//   --border-width: 1px;
//   --box-shadow: 2px gray;
//   --highlight-height: 0;
// //   --background: #f8f9fa;



// .sizeInput{
//     width: 250px;
//     margin-left: 20px;
    
// }

.sizeButton{
    margin-left: 115px;
}

.text{
    text-decoration: underline;
     margin-left: 65px;
}